<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="vbproj.My.MySettings.ConnectionString" connectionString="TNS_ADMIN=C:\Users\johnmark\Oracle\network\admin;USER ID=ADMIN;PASSWORD=admin;DATA SOURCE=127.0.0.1:1521/orcl;PERSIST SECURITY INFO=True"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>